<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Мониторинг логов" />
    <title>Мониторинг логов</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Мониторинг логов бэкенда</h1>
      {% if error %}
      <p class="error">{{ error }}</p>
      {% else %}
      <img src="/static/event_type_chart.png" alt="График событий" />
      {% if table_data %}
      <table>
        <tr>
          <th>Время</th>
          <th>Тип события</th>
          <th>Сообщение</th>
        </tr>
        {% for row in table_data %}
        <tr>
          <td>{{ row.timestamp.strftime('%Y/%m/%d %H:%M:%S') }}</td>
          <td>{{ row.event_type }}</td>
          <td>{{ row.message }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %} {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
